<!-- build:[href] /lib/polymer.html -->
<link rel="import" href="/jspm_packages/bower/polymer@1.2.4/polymer.html">
<!--/build-->

<dom-module id="x-spinner">
  <template>
    <div class="spin" id="spinner">
      <div class="b1"></div><div class="b2"></div><div class="b3"></div>
    </div>
  </template>
</dom-module>

<script>
  Polymer({is: 'x-spinner'});
</script>

<style>
  /* http://tobiasahlin.com/spinkit/ */
  x-spinner {
    display:block;
    widht: 100%;
    padding: 30px;
    clear:both;
  }

  .spin {
    clear: both;
    width: 70px;
    margin: 0 auto;
  }

  .spin > div {
    width: 18px;
    height: 18px;
    background-color: #fff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spin .b1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spin .b2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
</style>
